# The schema of the .env file is at: ./src/config/env.schema.ts

APP_PORT=<number>

DB_HOST=<string>
DB_PORT=<number>
DB_DATABASE_NAME=<string>

JWT_ACCESS_SECRET=<string>
JWT_REFRESH_SECRET=<string>
JWT_ACCESS_EXPIRATION=<number> # in seconds
JWT_REFRESH_EXPIRATION=<number> # in seconds

REDIS_HOST=<string>
REDIS_PORT=<number>
REDIS_PASSWORD=<string>

INITIAL_OWNER_USERNAME=<string>
INITIAL_OWNER_PASSWORD=<string>